.colorF .row{
    background-color: #000;
    color: #fff;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    padding: 20px;
    margin: 20px;
}
.colorF p{
    font-family: Poppins, Helvetica, Arial, sans-serif;
    padding-top: 10px;
    margin-right: 20px;
    size: 13px;
    color: grey;
}
.colorF img{
    width: 80%;
}
.colorF .fb{
    color: blue;
}
.colorF .tw{
    color: aqua;
}
.colorF .yt{
    color: red;
}
.colorF .pr{
    color: rgb(185, 0, 0);
}
.colorF .in{
    color: rgb(0, 9, 185);
}
.colorF img{
    margin-top: 10px;
    border-radius: 5px;
}